@import "../../resources/css/scss/variable";
@import "../../resources/css/scss/mixins";

.btn {
  @include transition(.3s all ease-in-out);
  border: 0;
  background-color: $primary;
  border-radius: .33rem;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  padding: .897rem 1rem;
  position: relative;
  text-align: center;
  letter-spacing: .02083rem;
  text-transform: uppercase;
  min-width: 8.9583rem;

  &:hover,
  &:focus,
  &:active {
    outline: 0;
  }

  &:hover {
    background-color: lighten($primary, 6%);
  }

  &:focus,
  &:active {
    @include shadow($btn-shadow);
  }

  &:disabled,
  &.btn-disabled {
    background-color: $disable-btn-bg-color;
    cursor: not-allowed;

    &:hover,
    &:focus,
    &:active {
      box-shadow: none;
    }
  }

}

.inherit-minwidth {
  min-width: inherit;
}

.btn-rounded {
  border-radius: .958rem;
  padding: 1.042rem 1rem;
}

.btn-with-icon {
  min-width: 4.166rem;

  .icon {
    max-width: 0.916rem;
    vertical-align: middle;
  }

  .btn-text {
    font-size: 1.0416rem;
    line-height: 1.25rem;
    font-weight: normal;
    vertical-align: middle;
    margin-left: .5rem;
  }
}

.btn-link {
  background-color: transparent;
  padding: .25rem;
  border: 0;
  min-width: inherit;
  color: $gray-dark;

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    outline: 0;
    box-shadow: none;
  }
}

.btn-link-primary {
  color: $primary;
}

.btn-link-btn {
  width: 3.75rem;
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  min-width: inherit;

  &:hover,
  &:focus,
  &:active {
    background-color: rgba($primary, .5);
  }
}

.btn-no-width-padding {
  margin-left: -.5rem;
}

.svg-icon {
  max-width: 2.5rem;
}

.btn-dropdown {
  font-size: $heading4-size;
  line-height: $heading4-line-height;
  text-transform: none;
  padding-left: 0;
  max-width: 100%;
  text-align: left;
  display: contents;

  .btn-text {
    max-width: 90%;
    display: inline-block;
    vertical-align: middle;
  }
}

.sm-icon {
  width: .85rem;
  margin-left: .33rem;
}

.input-btn {
  text-transform: none;
  font-family: $font-family2;
  font-size: $heading5-size;
  line-height: $heading5-line-height;
  text-align: left;
  width: 100%;
  height: 4.5833rem;
  color: rgba($gray-dark, .5);
  display: flex;
  align-items: center;
  font-weight: 400;

  .icon {
    max-width: 1.1rem;
    vertical-align: middle;
    margin-right: .65rem;
  }
}


.btn-circle {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  color: $white;
  background-color: transparent;
  font-size: 1.083rem;
  font-weight: 400;
  line-height: $heading5-line-height;
  border: 0.083rem solid $primary;

  img {
    max-width: .625rem;
  }
}

.svg-sm-icon {
  width: 1rem;
  vertical-align: middle;
}

.btn-shadow {
  background-color: $white;
  @include shadow(0px 2px 10px rgba(216, 216, 216, 0.5), 0px -2px 10px rgba(216, 216, 216, .5));

  &:after,
  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background: $white;
    @include transition(.15s all linear);

  }

  &:before {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
  }

  &:after {
    width: .5833rem;
    height: .5833rem;
    @include shadow(0px 2px 10px rgba(216, 216, 216, 0.5), 0px -2px 10px rgba(216, 216, 216, .5));
    z-index: -1;
    margin: 0 0 .2916rem .2916rem;
  }

  &:hover,
  &:focus,
  &:active {

    &:before,
    &:after {
      background: $primary;
    }
  }
}

.floating-icon {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0 1.5rem 1.5rem 0;
  z-index: 99;

  img {
    max-width: 1.25rem;
    vertical-align: middle;
    position: relative;
  }
}

.btn-transparent {
  background-color: transparent;
  color: $body-color;
  text-transform: none;
  font-size: 1.0833rem;
  line-height: 1.2916rem;
  font-weight: 400;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: $white;
    background: $primary;
    border-radius: .33rem;
  }
}

.btn-underline {
  text-decoration: underline;
  color: $body-color;
  text-transform: none;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2083rem;
  letter-spacing: .025rem;
}

.btn-link-lg-text {
  font-size: 1.58rem;
  line-height: 1.875rem;
  letter-spacing: .07421875rem;
  text-transform: none;
}

.ml-5 {
  margin-left: .5rem;
}

.btn-outline-gray {
  background-color: transparent;
  border: .08rem solid $light-gray;
  border-radius: .4166rem;
  display: flex;
  justify-content: space-between;
  color: $gray-dark;
  align-items: center;
  span {
    &:first-child {
      font-size: 1.29rem;
    }
    &:last-child {
      font-size: 1.08rem;
    }
  }
  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: $primary;
    color: $white;
    border-color: $primary;
    box-shadow: none;
  }
 }
.btn-block {
  width: 100%;
}
.btn-outline-gray,
.btn-sm-font {
  text-transform: none;
  font-family: $font-family2;
  span {
    flex: 1;
    font-family: $font-family2;
    display: inline-block;
    &:first-child {
      line-height: 1.54rem;
      letter-spacing: .016rem;
      font-weight: 500;
    }
    &:last-child {
      line-height: 1.29rem;
      letter-spacing: .013rem;
      font-weight: normal;
      padding-top: .25rem;
    }
  }
}
.btn-sm-font {
  padding: .75rem;
  span {
    &:first-child {
      font-size: 1rem;
      margin-right: .2rem;
    }
    &:last-child {
      font-size: .85rem;
    }
  }
}
.flex-1 {
  flex: 1;
}