.heading-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem 1rem 1rem;
  align-items: center;
}
.link {
  text-decoration: underline;
  font-weight: 400;
}
.row {
	padding: 0 1rem 1rem 1rem;
}