@import "../../resources/css/scss/variable";
@import "../../resources/css/scss/mixins";

.product-name,
.reward-value {
  color: rgba($gray-dark, .5);
  margin-top: .5rem;
}

.product-name,
.product-cat,
.product-price,
.reward-value {
	display: block;
	letter-spacing: 0.029rem;
	font-weight: 400;
}

.product-top {
  position: relative;
  width: 100%;
}

.product-block {
  display: block;
  width: 100%;
  padding: .5rem;
  @include transition(.2s all linear);
}

.product-img {
  width: 80%;
  padding-bottom: 80%;
  position: relative;
  display: block;
  margin: 0 auto;
  img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.add-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: -1.5rem -.5rem 0 0;
}

.product-content {
  text-align: left;
  margin-top: 1rem;
}
.circle-value {
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  color: $white;
  background-color: $primary;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include transition(.15s all linear);
  @include transform(scale(1));
}
.sm-icon {
  max-width: .91666rem;
  margin-left: .5rem;
}
.d-none {
  display: none;
}