@import "../../resources/css/scss/variable";
@import "../../resources/css/scss/mixins";

.banner-section {
  position: relative;

  .banner-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &:after {
      content: '';
      background-color: rgba($gray-dark, .07);
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
    }
  }

}

.banner-content {
  padding: 2rem;
  position: relative;
  z-index: 9;
}

.info {
  font-weight: 400;
  margin: 1.5rem 0 3rem 0;
}

.section-spacing {
  padding: 2rem 0 1.5rem 0;
  border-bottom: 2px solid $light;
}

.btn-shop {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 0 2rem 2rem;
  z-index: 3;
}

.title,
.info {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
