.text-primary {
  color: $primary;
}
.text-truncate {
  @include text-truncate;
}
.text-white {
	color: $white;
}
.mb-0 {
	margin-bottom: 0;
}
.font-weight-normal {
	font-weight: normal;
}
.text-light {
	color:  rgba($gray-dark,.5);
}
.checkbox-favorite {
    @include checkbox-favorite;
}